* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: rgb(243, 243, 243);
}

.container {
    /* border: 0.5px solid black; */
    padding: 10px;
    display: flex;
}

.box {
    /* background-color: lightblue; */
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
}

.removeContainerBtn {
    padding: 5px 10px;
    border: none;
}

.title {
    font-size: 1.3rem;
}

.desc {
    font-size: 1.2rem;
}

#duplicateButton {
    margin: 5px;
    padding: 5px 10px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: rgb(118, 253, 201); /* changes the checkmark color */
}

h1 {
    text-align: center;
    margin: 20px auto;
    font-weight: 300;
    font-family: 'Inconsolata';
}